.wrapper {
    display: inline-flex;
}

.wrapper .icon {

    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;

}

.wrapper .icon span {
    display: block;
    height: 40px;
    width: 40px;
    background: rgb(253, 253, 253);
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

}

.wrapper .icon span img {
    line-height: 40px;
    font-size: 25px;
    border-radius: 50%;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 1;
    background: rgb(243, 243, 243);
    color: rgb(5, 5, 5);
    padding: 10px 18px;
    font-size: 10px;
    font-weight: 400;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

}

.wrapper .icon:hover .tooltip {
    top: 40px;
    opacity: 1;
    pointer-events: auto;
}

.icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: rgb(245, 245, 245);
    left: 50%;
    top: 0px;
    transform: translateX(-50%) rotate(45deg);

}